.h1{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
#list{
    font-size: medium;
    font-weight: bold;
}
 #col {
    background-color:   #eff1f4;
        
      }
#fir{
    border-radius: 50%;
}
.cut{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    margin-bottom: 0;
}
.blue{
    color: blue;
    font-size: xx-large;
    margin-bottom: 0;
}
.lead{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}
#sec{
    border-radius: 8%;
}
#he{
    text-align: center;
}
.lead{
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}
#ink{
    background-color:   #eff1f4;
          
}
h2{
    text-align: center;
}
#cyn , #tyn , #byn , #kyn  {
    font-size: xx-large;
    font-weight: 900 !important;
    color: rgb(105, 148, 226);
    text-emphasis-color: blue;
}
#hoe{
    font-size: 39px;
    font-weight: 900 !important;
    color: rgb(105, 148, 226);
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
    background-color: rgb(24, 75, 226) !important;
}
#biro{
    background-color:   #eff1f4; 
}
footer{
    background-color: blue;
}